<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="true">
    <!-- Attribut 'verbose' dépréciée supprimé pour la compatibilité avec PHPUnit 11 -->
    <testsuites>
        <testsuite name="MyWeeklyAllowance Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
    <!-- Configuration de couverture mise à jour pour utiliser la syntaxe appropriée de PHPUnit 11 -->
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
</phpunit>
